<div class="container">
  <%= form_for(@sea) do |f| %>
    <p>Name: <%= f.text_field :name, class: "form-control" %></p>
        <p>Bio: <%= f.text_field :bio, class: "form-control" %></p>
        <p>Image URL: <%= f.text_field :image_url, class: "form-control" %></p>
        <p>Temperature: <%= f.text_field :temperature, class: "form-control" %></p>
        <p>Favorite Color: <%= f.text_field :favorite_color, class: "form-control" %></p>
        <p>Scariest Creature: <%= f.text_field :scariest_creature, class: "form-control" %></p>
        <p>Mood: <%= f.text_field :mood, class: "form-control" %></p>
        <div class="checkbox">
            <label><%= f.check_box :has_mermaids, checked: @sea.has_mermaids %>Has Mermaids</label>
        </div>
        <%= f.submit "Submit", class: "form-control btn btn-info" %>
  <% end %>

  <div class="text-center row" style="margin: 1em">
    <div class="col-sm-1">
      <button class="btn btn-info" style="margin: 0 auto"><a href="/seas/<%=@sea.id%>">Back</a></button>
    </div>
    <div class="col-sm-1">
    <button class="btn btn-info" style="margin: 0 auto"><a class="btn-info" href="/seas">All Seas</a></button>
    </div>
    <div class="col-sm-9">
    </div>
    <div class="col-sm-1">
    
    <%= form_tag(sea_path(@sea), method: :delete) do %>
      <%= submit_tag "Delete", class: "btn btn-danger" %>
    <% end %>

    </div>
  </div>
</div>